body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
}

.buttons button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
}

#scoreDisplay {
    position: absolute;  /* This takes the score out of the regular document flow */
    top: 10px;           /* 10px from the top edge */
    right: 10px;         /* 10px from the right edge */
    font-size: 1.2em;    /* Increases the font size a bit */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: Adds a slightly transparent background for better readability */
    padding: 5px 10px;   /* Adds some padding */
    border-radius: 5px;  /* Optional: Rounds the corners */
}
body.dark-theme {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.dark-theme h1, body.dark-theme h2 {
    color: #e2e2e2;
}

body.dark-theme #scoreDisplay {
    background-color: rgba(0, 0, 0, 0.7);
}

body.dark-theme .buttons button {
    background-color: #444;
    color: #e2e2e2;
    border: 1px solid #555;
}
#toggleDarkMode {
    position: absolute;
    top: 10px;
    right: 300px;
    z-index: 1; /* Ensure it's above other elements */
}

